.Home{
  position: relative;
}

//this is the navigation bar at top
.nav-bar{
  img{
    padding: 5px 10px 5px 0;
    width: 15%;
    height: auto;
  }
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  position: fixed;
  background-color: black;
  overflow: auto;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  z-index: 100;
}

//a box for a vertical nav bar aka sidebar
.sidebar{
    .text{
      padding-top: 40%;
    }
    margin-top: 0;
    color: whitesmoke;
    background-color: #1D3949;
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    border-radius: 0px;
    height: 100%;
    width: 13%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    transform: translate(0px, 0px);
    overflow: auto;
  }
//sidebar menu
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

//sidebar menu
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
//sidebar menu
li a:hover {
  background-color: #111;
}


.tab{
  margin-top: 5%;
  margin-right: 5%;

}

//upper chart
.chart{
  padding-top: 5%;
  margin-left: 20%;
}

//container for the chart part
.subchart{
  position: relative;
  top: 60%;
  left: 20%;
  right: 30%;
  margin-right: 45%;
  margin-top: 5%;
}


//place for the google map for the data center location
.Map{
  position: relative;
  top: 90%;
  height: auto;
  margin: auto;
}
//put three chart in a line
.left-align{
  float: left;
  margin-right:2%;
  width: 30%;
  height: 70%;
}

//shrink size sidebar item become icon
@media screen and (min-width: 0px) and (max-width: 800px) {
  p { display: none; }  /* hide the text for the small screen*/
}



