

footer{
  width: 100%;
  //background-color: black;
  position: absolute;
  bottom: 2%;
  text-align: center;

}

.col{
  color: white;
}

.right-align{
  float: right;
  color: grey;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}
